.content {
   text-align: center;
   padding: 10px;
}

.dropdown {
   padding: 5px;
   margin: 0 0 0 10px;
   width: 100px;
   font-size: 16px;
}

.score-label {
  display: inline-block;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 6px 4px 6px;
  margin: 0;
  color: #FFFFF2;
  background-color: #617986;
  border: 2px solid #617986;
}

.score {
  display: inline-block;
  width: 50px;
  font-size: 18px;
  padding: 4px 6px 4px 6px;
  margin: 0;
  color: #1C3747;
  background-color: #FFFFFF;
  border: 2px solid #617986 ;
}


