#container {
  width: 1186px;
  margin: 0 auto;
}

#notation-component{
  float: left;
  width: 800px;
  height: 392px;
  background:#fff;
  box-shadow: 0 10px 6px -6px#777;
  margin: 0 20px 20px 0;
}

#play-mode-component {
  float: left;
  width: 346px;
  height: 166px;
  padding: 10px;
  margin: 0 0 20px 0;
  background:#fffff2;
  box-shadow: 0 10px 6px -6px#777;
}

#note-info-component {
  float: left;
  width: 346px;
  height: 166px;
  padding: 10px;
  margin: 0 0 20px 0;
  background:#fffff2;
  box-shadow: 0 10px 6px -6px#777;
}

#keyboard-component {
  clear: both;
  width: 1186px;
  height: 250px;
  background:#fff;
  box-shadow: 0 10px 6px -6px#777;
  margin: 0;
}

#appDetails {
  text-align: right;
  color: rgba(0,0,0,0.7);
  font-size: 14px;
  margin: 0;
  padding: 10px 0 0 ;
}

#appDetails a {
  color: rgba(0,0,0,0.5);
}

#appDetails a:hover {
  text-decoration: none;
}


