div {
   background-color:#ffffff;
}

/* ::ng-deep is alias for /deep/ which will force style down through the child component tree. */
/* match all ids that start with rest and hide them*/
::ng-deep [id^="rest"] {
   display: none;
}

::ng-deep g.note {
  /*fill: #000;*/
  -webkit-transition: fill 0.3s; /* Safari */
  transition: fill 0.3s;
}

// ::ng-deep g.note:hover {
//   fill: #ff9800;
//   cursor: pointer;
// }


