div {
   background-color:#ffffff;
}

/* >>> is alias for /deep/ which will force style down through the child component tree. */
/* match all ids that start with rest and hide them*/
>>> [id^="rest"] {
   display: none;
}

>>> g.note {
  /*fill: #000;*/
  -webkit-transition: fill 0.3s; /* Safari */
  transition: fill 0.3s;
}

>>> g.note:hover {
  fill: #ff9800;
  cursor: pointer;
}

