<h3>Now playing</h3>

<div class="container">
  <div class="note-card" *ngIf="currentNote" (click)="playNote(currentNote)">
      <span class="name">{{currentNote.fullname}}</span>
      <span class="octave">OCTAVE {{currentNote.octave}}</span>
  </div>

  <div class="note-card-or" *ngIf="alternateNote">
    <span> OR </span>
  </div>

  <div class="note-card" *ngIf="alternateNote" (click)="playNote(alternateNote)">
    <span class="name">{{alternateNote.fullname}}</span>
    <span class="octave">OCTAVE {{alternateNote.octave}}</span>
  </div>

</div>

